<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
          UpgradeCode="481835F6-B008-45AF-B062-4FF2F972AE6D"
          Language='1033' Codepage='1252' Version='$(var.ProductVersion)'
          Name="$(var.Type)"
          Manufacturer='Octoblu'>

    <Package Id='*' Keywords='Installer' Description='$(var.Type)'
          Comments='Blaaaa' Manufacturer='Octoblu'
          InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <MajorUpgrade DowngradeErrorMessage="Can’t downgrade." />

    <Media Id='1' EmbedCab='yes' Cabinet="main.cab" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ResourceDir)\LICENSE.rtf" />
    <!-- <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\public\images\msi-banner.bmp" /> -->
    <!-- <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\public\images\msi-welcome.bmp" /> -->

    <Icon Id="icon.ico" SourceFile="$(var.ResourceDir)\connector.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles$(var.If64)Folder' Name='PFiles'>
        <Directory Id='MeshbluConnectors_Folder' Name='MeshbluConnectors'>
          <Directory Id='INSTALLDIR' Name='$(var.Type)'>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI" />
    <Property Id="ALLUSERS" Value="1"></Property>
  </Product>
</Wix>
