<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
          UpgradeCode="$(var.UpgradeCode)"
          Language='1033' Codepage='1252' Version='$(var.ProductVersion)'
          Name="$(var.Type)"
          Manufacturer='Octoblu'>

    <Package Id='*' InstallScope="$(var.InstallScope)" Keywords='Installer' Description='$(var.Type)'
          Comments='Blaaaa' Manufacturer='Octoblu'
          InstallerVersion='500' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <MajorUpgrade AllowDowngrades="yes" IgnoreRemoveFailure="yes" />

    <Media Id='1' EmbedCab='yes' Cabinet="main.cab" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ResourceDir)\LICENSE.rtf" />
    <!-- <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\public\images\msi-banner.bmp" /> -->
    <!-- <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\public\images\msi-welcome.bmp" /> -->

    <Icon Id="icon.ico" SourceFile="$(var.ResourceDir)\connector.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>

    <?include directory.wxi ?>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
      <?include registry.wxi ?>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI" />

    <?if $(var.InstallScope) = perUser ?>
      <Property Id='ALLUSERS' Value='2' />
      <Property Id='MSIINSTALLPERUSER' Value='1' />
    <?endif ?>
  </Product>
</Wix>
